[data-role=page]{height: 100% !important; position:relative !important;}

p.footer{bottom:0; position:absolute !important; top: auto !important;}  

[data-role=footer] p {
    color: #555;
    padding: 0 1em;
}

.login-name {
    color: #000;
}

.error {
    color: #f55;
}

.duration {
    font-weight: normal;
}

.date{
    float: right;
}