
@import "settings.css";
@import "help.css";

.view p {
    margin-top: 10px;
}

strong {
    font-weight: bold;
}

a.link,
a:link {
    color: #38f;
    text-decoration: underline;
}

a:visited {
    color: #38f;
}

