
#folders {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 400;
}

#folders ul {
    padding-left: 17em;
}

#folders li {
    border: none;
    border-bottom: 3px solid transparent;
    border-radius: 0;
    color: #888;
    margin-bottom: -1px;
    padding: 5px 20px;
    -webkit-transition: color 0.1s ease, border-color 0.1s ease, text-shadow 0.1s ease,
    width 0.1s ease, padding 0.1s ease, opacity 0.1s ease;
}

#folders li:hover {
    color: #888;
}

#folders li.hidden {
    width: 0;
    padding-left: 0;
    padding-right: 0;
    opacity: 0;
    -webkit-transform: scale(1,0);
}

#folders li.open {
    border-color: #555;
    color: #000;
}

#folders ul {
    display: inline-block;
}
