
#folders {
    background-color: #f6f6f6;
    border: 0 solid #bbb;
    border-width: 1px 0;
    color: #888;
    padding-left: 16em;
    overflow: visible;
}

#folders li {
    border: 1px solid transparent;
    border-width: 0 1px;
    border-radius: 0;
    padding: 7px 20px;
    -webkit-transition: background-color 0.2s ease, border-color 0.2s ease;
}

#folders li.hidden {
    -webkit-transform: scale(1,0);
}

#folders li.open {
    background-color: #eee;
    border-color: #bbb;
    color: #000;
}

#folders ul {
    display: inline-block;
}

#folders .settings {
    
}

#folders .help {
    position: absolute;
    top: 1px;
    right: 10px;
}