
#h {
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
    color: #888;
    height: 52px;
    padding: 10px;
    position: relative;
    vertical-align: middle;
    width: 100%;
    z-index: 1000;
}

#h>* {
    display: inline-block;
    position: absolute;
    z-index: 490;
}

#h #account-status {
    position: absolute;
    right: 10px;
}

#h #account-status a {
    margin-left: 10px;
}

.logged-in #register-show {
    display: none;
}

#h h1 {
    background: transparent url("../img/logo-small.png") center center no-repeat;
    color: transparent;
    display: inline-block;
    height: 32px;
    width: 150px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#h h1:hover {
    cursor: default;
}


