
@import "http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300";

@import "reset.css";
@import "header.css";
@import "widgets.css";

html {
    background-color: #eee;
    color: #444;
    font-family: "Roboto Slab",Roboto,sans-serif;
}