
@import "http://fonts.googleapis.com/css?family=Roboto";

@import "reset.css";
@import "widgets.css";
@import "header.css";
@import "view.css";
@import "content.css";
@import "new.css";

html,body {
    height: 100%;
    width: 100%;
}

html {
    background-color: #eee;
    color: #444;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
}
