
#new {
    box-sizing: border-box;
    height: 100%;
    left: 0;
    width: 0;
    padding-top: 40px;
    opacity: 0;
    -webkit-transition: opacity 0.1s ease, width 0.1s ease;
}

.logged-in #new {
    width: 15em;
    opacity: 1;
}

#new .wrapper {
    box-sizing: border-box;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 500;
}

#record-button {
    display: block;
    margin-top: 10px;
    text-align: center;
}