
#view-settings .pane {

}

#view-settings .account.pane h1 {
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 10px;
}

#view-settings .delete.button {
    background-color: #faa;
    border-color: #a77;
    color: #000;
}

#view-settings li {
    margin-top: 0.5em;
}