
#view-settings .pane {
    
}

#view-settings .account.pane h1 {
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 20px;
}

#view-settings .delete {
    color: #f43;
}

#view-settings li {
    margin-top: 0.5em;
}