
@import "folders.css";
@import "messages.css";

#view {
    box-sizing: border-box;
    position: absolute;
    height: auto;
    width: 100%;
    z-index: 100;
    vertical-align: top;
}

.view {
    box-sizing: border-box;
    display: none;
    margin-top: 20px;
    height: auto;
    padding: 0 2em;
    padding-right: 2em;
    position: absolute;
    z-index: 0;
    width: 100%;
    max-width: 60em;
}

#view-settings,
#view-help {
    max-width: none;
}

.logged-in .view {
    padding-right: 22em;
}

.logged-in #view {
    padding-left: 16em;
    width: 100%;
}

.view * {

}

.view .pane {
    display: inline-block;
    padding: 1em;
    width: 33%;
}

.view .pane h1 {
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 20px;
}

