
@import "folders.css";
@import "messages.css";

#view {
    box-sizing: border-box;
    position: absolute;
    height: auto;
    width: 100%;
    z-index: 100;
}

.view {
    box-sizing: border-box;
    display: none;
    margin-top: 50px;
    height: auto;
    padding: 0 2em;
    position: absolute;
    width: 100%;
}

.logged-in .view {
    padding-left: 18em;
}

.view * {

}